@font-face {
  font-family: "iconfont"; /* Project id 3323494 */
  src: url('iconfont.woff2?t=1650505350970') format('woff2'),
       url('iconfont.woff?t=1650505350970') format('woff'),
       url('iconfont.ttf?t=1650505350970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yushui:before {
  content: "\e6c7";
}

.icon-kaishi2:before {
  content: "\e60b";
}

.icon-kaishi3:before {
  content: "\e76f";
}

.icon-jia:before {
  content: "\e603";
}

.icon-zanting:before {
  content: "\e605";
}

.icon-gengduo:before {
  content: "\e667";
}

.icon-weibiaoti519:before {
  content: "\e616";
}

.icon-ai225:before {
  content: "\e6d5";
}

.icon-reset:before {
  content: "\e611";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-zanting1:before {
  content: "\e87a";
}

.icon-zanting2:before {
  content: "\e629";
}

.icon-tianjia1:before {
  content: "\e607";
}

.icon-zanting3:before {
  content: "\e630";
}

.icon-zhongzhi:before {
  content: "\e608";
}

.icon-zanting4:before {
  content: "\e669";
}

.icon-zhongzhi1:before {
  content: "\e63a";
}

.icon-zhongzhi2:before {
  content: "\e6a8";
}

.icon-zhongzhi3:before {
  content: "\e606";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-24gf-pauseSquare:before {
  content: "\ea82";
}

.icon-zhongzhi4:before {
  content: "\e60a";
}

.icon-zhongzhi5:before {
  content: "\e652";
}

.icon-zhongzhi6:before {
  content: "\e61f";
}

.icon-kaishi:before {
  content: "\e618";
}

.icon-gengduo1:before {
  content: "\e621";
}

.icon-gengduo2:before {
  content: "\e643";
}

.icon-zanting5:before {
  content: "\e637";
}

.icon-gengduo3:before {
  content: "\e609";
}

.icon-kaishi1:before {
  content: "\e60e";
}

.icon-ai213:before {
  content: "\e6c9";
}

.icon-kechengbiao2:before {
  content: "\e6be";
}

.icon-xiangxia1:before {
  content: "\e771";
}

.icon-shezhi1:before {
  content: "\e892";
}

.icon-guanyu_o:before {
  content: "\eb77";
}

.icon-shuliebiao:before {
  content: "\e617";
}

.icon-guanyu:before {
  content: "\e604";
}

.icon-kechengbiao1:before {
  content: "\e602";
}

.icon-shijian2:before {
  content: "\e8b8";
}

.icon-shijian3:before {
  content: "\e8c5";
}

.icon-bg-tree:before {
  content: "\e648";
}

.icon-shu:before {
  content: "\e61d";
}

.icon-shuzhuangtu:before {
  content: "\e600";
}

.icon-zhexiantu:before {
  content: "\e601";
}

.icon-kuozhanshuxing:before {
  content: "\e690";
}

.icon-kechengbiao:before {
  content: "\e62c";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-shijian1:before {
  content: "\e665";
}

.icon-shezhi:before {
  content: "\e68f";
}

